.m-stack.m-stack--general.m-stack--ver.m-stack--demo.m-stack--demorow {
    height: 10%;
    background: unset;
}

.main-btn {
    height: 75%;
    width: 75%;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    padding: 0.5em !important;
    vertical-align: middle;
    text-align: center;
}

.btn-outline-primary.m-btn--air.focus, .btn-outline-primary.m-btn--air:focus, .btn-outline-primary.m-btn--air:hover, .btn-primary.m-btn--air.focus, .btn-primary.m-btn--air:focus, .btn-primary.m-btn--air:hover, .m-btn--gradient-from-primary.m-btn--air.focus, .m-btn--gradient-from-primary.m-btn--air:focus, .m-btn--gradient-from-primary.m-btn--air:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    -moz-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
}

.m-stack__item.m-stack__item--center.m-stack__item--middle table {
    height: 100%;
    width: 100%;
}

#footer {
    background-image: url('assets/app/media/img/bg/bg-1.jpg');
    background-size: cover;
}

    #footer button {
        min-width: 85%;
    }

.m-stack--demo.m-stack--ver .m-stack__item, .m-stack--demo.m-stack--hor .m-stack__demo-item {
    border-width: 0px;
    background: unset;
}

.main-btn table {
    font-size: large;
}

.btn-group .btn.active {
    font-size: large;
}
