.m-stack.m-stack--general.m-stack--ver.m-stack--demo.m-stack--demorow {
    height: 20%;
}

.record-row {
    margin-top:2%;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(88, 103, 221, 0.8);
    -moz-box-shadow: 0px 4px 8px -4px rgba(88, 103, 221, 0.8);
    box-shadow: 0px 4px 8px -4px rgba(88, 103, 221, 0.8);
    height:50px !important;
}

.btn-outline-primary.m-btn--air.focus, .btn-outline-primary.m-btn--air:focus, .btn-outline-primary.m-btn--air:hover, .btn-primary.m-btn--air.focus, .btn-primary.m-btn--air:focus, .btn-primary.m-btn--air:hover, .m-btn--gradient-from-primary.m-btn--air.focus, .m-btn--gradient-from-primary.m-btn--air:focus, .m-btn--gradient-from-primary.m-btn--air:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    -moz-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
}

.m-stack__item.m-stack__item--center.m-stack__item--middle table {
    height: 100%;
    width: 100%;
}


#footer,#header {
    background-image: url('assets/app/media/img/bg/bg-5.jpg');
    background-size: cover;
}

#header span.main-title {
    color:#ffffff;
}

#footer button {
    min-width: 85%;
}

.m-stack--demo.m-stack--ver .m-stack__item, .m-stack--demo.m-stack--hor .m-stack__demo-item {
    border-width: 0px;
    background:unset;
}

.input-group {
    height:80%;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    -moz-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
}