.m-stack.m-stack--general.m-stack--ver.m-stack--demo.m-stack--demorow {
    height: 25%;
}

.main-btn {
    height: 99%;
    width: 99%;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    padding: 0em !important;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    position: relative;
}

    .main-btn i {
        font-size: 15vw !important;
        margin-top: 10%;
        height: 60%;
    }

    .main-btn p {
        margin-bottom: 0 !important;
        font-size: 2.6vh;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .main-btn .main-btn-outter {
        display: table;
        height: 100%;
        width: 100%;
    }

    .main-btn .main-btn-inner {
        display: table-cell;
        vertical-align: middle;
    }


table i {
    font-size: 20vw !important;
}

table p {
    margin-bottom: 0 !important;
    font-size: 5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table {
    table-layout: fixed;
    height: 100%;
}

.btn-outline-primary.m-btn--air.focus, .btn-outline-primary.m-btn--air:focus, .btn-outline-primary.m-btn--air:hover, .btn-primary.m-btn--air.focus, .btn-primary.m-btn--air:focus, .btn-primary.m-btn--air:hover, .m-btn--gradient-from-primary.m-btn--air.focus, .m-btn--gradient-from-primary.m-btn--air:focus, .m-btn--gradient-from-primary.m-btn--air:hover {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    -moz-box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
    box-shadow: 0px 5px 10px 2px rgba(88, 103, 221, 0.8);
}

.m-stack__item.m-stack__item--center.m-stack__item--middle table {
    height: 100%;
    width: 100%;
}

#footer, #header {
    background-image: url('assets/app/media/img/bg/bg-5.jpg');
    background-size: cover;
}

    #header span.main-title {
        color: #ffffff;
    }

    #footer button {
        min-width: 85%;
    }

.m-stack--demo.m-stack--ver .m-stack__item, .m-stack--demo.m-stack--hor .m-stack__demo-item {
    border-width: 0px;
    background: unset;
}
